@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Satisfy&display=swap");
/* font-family: "Parisienne", cursive; */

* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

.primary-color {
  color: #fa7d9c;
}
.poppins {
  font-family: "Poppins", sans-serif !important;
}
.parisienne {
  font-family: "Parisienne", cursive !important;
}
.satisfy {
  font-family: "Satisfy", cursive !important;
}
.sacramento {
  font-family: "Sacramento", cursive !important;
}
.pacifito {
  font-family: "pacifito", cursive;
}
.quicksand {
  font-family: "Quicksand", sans-serif;
}

/* style starter */

.hero-welcome-1 {
  background-image: url("../img/vector-wedding.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 3;
}
.hero-welcome {
  background-image: url("../img/vector-wedding.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  z-index: 1;
}

.hero-welcome-hidden {
  opacity: 0;
  transform: translateY(-100%);
  transition: 1s ease-in-out;
}

.wrapper-hero {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrapper-nama {
  color: white;
  z-index: 2 !important;
}
.nama-mempelai {
  font-family: "Satisfy", cursive;
}
.and {
  font-family: "Sacramento", cursive;
  font-size: 68px;
}

.nickname {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.invited-name {
  font-family: "pacifito", sans-serif;
  font-weight: 300;
  font-size: 22px;
}
.greetings-invited {
  font-family: "Poppins", sans-serif;
  margin-bottom: 4rem;
}
.btn:focus {
  box-shadow: unset;  
}
.button-open {
  background-color: #fa7d9c;
  color: white;
  font-family: "Poppins", sans-serif;
  transition: 0.5s all;
  display: flex;
  align-items: center;
}
.button-save {
  background-color: rgba(213, 216, 221, 0.5);
  color: #000000;
  font-family: "Poppins", sans-serif;
  transition: 0.5s all;
  display: flex;
  align-items: center;
}
.button-open:hover {
  color: white;
  transform: scale(1.1);
  box-shadow: 0px 0px 6px rgb(49, 49, 49);
}

.part-time {
  background-color: #fa7d9c;
  height: 70px;
  width: 70px;
  border-radius: 10px;
}

.days::after {
  content: "Day's";
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  right: 0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  opacity: 0.7;
}
.hours::after {
  content: "Hour's";
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  right: 0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  opacity: 0.7;
}
.minutes::after {
  content: "Minute's";
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  right: 0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  opacity: 0.7;
}
.seconds::after {
  content: "Second's";
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  right: 0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  opacity: 0.7;
}

.highlights {
  background-color: #d5d8dd;
  overflow-x: hidden;
}
img.img-highlights {
  width: 20rem;
  border-radius: 148px;
  border: 8px solid #000000;
  margin: 3rem 0;
  transform: rotate(4deg);
}

.parallax-window {
  min-height: 400px;
  background: transparent;
  height: 100vh !important;
  overflow-x: hidden;
}
.headliner {
  width: 100%;
  text-align: center;
  /* border-bottom: 1px solid #fa7d9c; */
  line-height: 0.1em;
  padding: 5rem 0px;
  font-family: "Sacramento", cursive !important;
  font-size: 4rem;
  color: #000000;
}

.form-control {
  background-color: rgba(97, 108, 64, 0.9);
  color: rgba(255, 255, 255, 0.8) !important;
}
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(97, 108, 64, 0.25) !important;
  border-color: rgba(97, 108, 64, 0.5) !important;
  background-color: rgba(97, 108, 64, 0.9);
}

/* .headliner::after,
.headliner::before {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
  padding: 2rem;
} */
.subhead {
  color: #000000;
}

.location-text {
  font-size: 12px;
}
.card-time {
  background-color: rgba(213, 216, 221, 0.6);
  border-radius: 10px 10px 0 0;
}
.sub-card-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #000000;
}
.location-text {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 18;
}
.img-gallery > div > img {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.img-gallery > div > img:hover {
  transform: scale(1.1);
}
.thankyou {
  background-color: #d5d8dd;
}
.img-sub-carousel {
  position: relative;
}
.back-floating {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.quots {
  font-size: 16px;
  color: rgba(213, 216, 221, 0.6);
}
.qs-surat {
  color: rgba(213, 216, 221, 0.6);
  font-size: 20px;
}

.embed-maps {
  height: 80vh;
  border: 3px solid rgba(97, 108, 64, 0.6) !important;
  border-radius: 50px;
  opacity: 0.8 !important;
}

.pesan {
  font-size: 12px;
}

footer {
  text-align: center;
  background-image: url("../img/noname.png");
  /* background-repeat: no-repeat; */
  background-size: cover;
  height: 100%;
}

/* Tablet Break Point */
@media (max-width: 768px) {
  .thumbs-hights {
    order: 2;
  }
  .thumbs-typography {
    order: 1;
    margin-top: 4rem;
  }
  .img-highlights {
    transform: rotate(0) !important;
  }
  .part-time {
    height: 60px;
    width: 60px;
  }
}
